<div id="<%= dom_id friend %>" class="arrange-horizontally">
  <p>
    <strong>Firsr name:</strong>
    <%= friend.firsr_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

</div>
